.upcoming-container {
  display: flex;
}

.upcoming-title {
  margin-bottom: 2rem;
  color: #ffffff;
}

.upcoming-anime {
  margin-top: 2rem;
  padding: 2rem;
  width: 80%;
  background-color: #2d3250;
  border-top: 5px solid #171b26;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.upcoming-anime .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
  background-color: #171b26;
}

.upcoming-anime .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

.upcoming-anime .card h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.upcoming-anime .card button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #2d3250;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: none;
  width: 100%;
}

.upcoming-anime .card button:hover {
  background-color: #e6e6e6;
  color: #171b26;
}

.sidebar {
  flex: 1;
  padding: 2rem;
  background-color: #2d3250;
  border-top: 5px solid #171b26;
  border-left: 5px solid #171b26;
  border-radius: 0 0 7px 7px;
}